.login-container{
    -fx-effect:  dropshadow(gaussian, rgb(31, 71, 87), 5, 1, 8, 14);
}
.button-login{
    -fx-background-color: #1B082E;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-cursor: hand;

}
AnchorPane > VBox > Label{
    -fx-font-family: 'Cascadia Code', Arial, sans-serif;
}
.button-salir{

    -fx-background-radius: 50%;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 50%;
    -fx-padding: 15px 15px;
}
.button-login:hover{
    -fx-background-color: white;
    -fx-border-color: #1B082E;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-text-fill: black;
    -fx-background-radius: 15px;
}
.txt-login{
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
}
.txt-login:focus{
    -fx-border-color: red;
}
.vbox-buttons{
    -fx-background-color: white;
    -fx-font-family: 'Cascadia Code', Arial, sans-serif;

}
.vbox-buttons > Label{
    -fx-font-size: 15px;
}
.vbox-buttons > VBox{
    -fx-padding: 0px 15px
}
.vbox-buttons > VBox > Button{
    -fx-background-color: transparent;
    -fx-padding: 5px 15px;
    -fx-width: 215px;
    -fx-cursor: hand;
    -fx-alignment: baseline_left;
    -fx-background-radius: 12px;
}
.btn-aside:hover{
    -fx-background-color: #D4F1F4;
}
.btn-aside-cerrar:hover{
    -fx-text-fill: white;
    -fx-background-color: red;
}
.pane-index{
    -fx-background-color: white;
    -fx-background-radius: 0px 0px 15px 15px;
    -fx-padding-top: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.panel-acceso-container{
    -fx-padding: 100px 200px;
}
.panel-acceso{
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-padding: 10px;
    -fx-alignment: center;
}
.panel-acceso > Label{
    -fx-font-family: 'Cascadia Code', Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-padding: 8px;
}
.panel-acceso:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.table-design {
     -fx-base: #1d1d1d;
     -fx-control-inner-background: #1d1d1d;
     -fx-background-color: white;
     -fx-table-cell-border-color: black;
     -fx-table-header-border-color: black;
     -fx-padding: 5;
}
.header{
    -fx-min-width: 800px;
    -fx-font-size: 30px;
    -fx-alignment: center;
   -fx-background-color: white;
   -fx-padding: 20px;
       -fx-background-radius: 0px 0px 15px 15px;
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.contenido-usuarios{
    -fx-overflow: scroll;
    -fx-alignment: baseline_center;
    -fx-min-width: 1069px;
    -fx-min-height: 650px;
    -fx-padding: 0px 15px;
}
.botones-varios{
    -fx-max-width: 215px;
    -fx-max-height: 91px;
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-padding: 10px;
    -fx-alignment: center;

}
.botones-varios:hover{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}
.tablas{
    -fx-alignment: baseline_center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}
.label-column:last-child{
    -fx-min-width: 300px;
}

.modificar{
    -fx-background-color: #6C875F;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-margin-right: 30px;
}
.eliminar{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-margin: 10px;
}
.buttons-data{
      -fx-background-color: #dcdcdc;
      -fx-border-color: transparent transparent #cacaca transparent;
              -fx-border-width: 0 0 2 0;

}
.pass{
    -fx-min-width: 350px;
    -fx-font-weight: bold;
        -fx-font-size: 14px;
        -fx-padding: 10px;
        -fx-background-color: #3B5A2C;
        -fx-border-color: transparent transparent black transparent;
        -fx-border-width: 0 0 2 0;
        -fx-text-fill: white;
        -fx-alignment: center;
}
.pass-data{
-fx-min-width: 350px;
-fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-padding: 10px;
  -fx-background-color: #dcdcdc;
-fx-border-color: transparent transparent #cacaca transparent;
        -fx-border-width: 0 0 2 0;
}
.modificar:hover{
    -fx-background-color: brown;
}
.eliminar:hover{
    -fx-background-color: red;
}
.tablas .label-column{
    -fx-min-width: 200px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #3B5A2C;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-alignment: center;
}

.tablas .label-data{
-fx-max-width: 200px;
-fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-padding: 10px;
  -fx-background-color: #dcdcdc;
-fx-border-color: transparent transparent #cacaca transparent;
        -fx-border-width: 0 0 2 0;
}
.label-data:odd{
    -fx-background-color: #e6e6e6;
}

/*ESTILOS DE FORMULARIOS*/

.formulario1 .titulo{
    -fx-text-fill: white;
}
.formulario1 Label{
    -fx-text-fill: #052A97;
    -fx-padding: 5px 0px;
    -fx-font-weight: bold;
}
.formulario1 TextField, DatePicker, ComboBox{
    -fx-border-color: #21618C;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-color: white;
}
.formulario1 ComboBox{
    -fx-font-weight: bold;
}
.formulario1 RadioButton{
    -fx-text-fill: #052A97;
    -fx-font-weight: bold;
}
.formulario1 Button{
    -fx-background-color: #052A97;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-cursor: hand;
}
.formulario1 Button:hover{
    -fx-background-color: #79FFF5;
    -fx-text-fill: black;
}